@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@ViewBag.title</h1>


<form method="post">

    @foreach (var Cheese in ViewBag.cheeses)

    {
        <input type="checkbox" name="cheeseIds" id="@Cheese.CheeseId" value="@Cheese.CheeseId" />
        <label for="@Cheese.CheeseId">@Cheese.Name</label>
        <br />


    }



     <input type="submit" value="Remove Selected Cheese(s)" />


</form>